name: Build all configurations and deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
  
jobs:
  build-and-publish:
    permissions: 
      contents: read
      packages: write
    runs-on: ubuntu-latest
    strategy:
        matrix:
          java: [ '8' ]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Set settings.xml
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: |
            [{
              "id": "msf-ocg-github-lime-emr",
              "username": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}",
              "password": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"
            }]
  
      - name: Build and Test
        run: mvn --batch-mode --update-snapshots --activate-profiles validator clean package

      - name: Publish MSF distro artifacts to GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "distro"
          artifact-path: "${{ github.workspace }}/distro"
          maven-server-username: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}"
          maven-server-token: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"
          
      - name: Publish MSF Mosul to artifacts GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "Iraq"
          artifact-path: "${{ github.workspace }}/countries/iraq"
          maven-server-username: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}"
          maven-server-token: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"

      - name: Publish MSF Iraq artifacts to GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "Mosul"
          artifact-path: "${{ github.workspace }}/sites/mosul"
          maven-server-username: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}"
          maven-server-token: "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"
